$link-decoration: none;

$gray-100: #f8f8f8;
$gray-200: #e9e9e9;
$gray-300: #dedede;
$gray-400: #cecece;
$gray-500: #adadad;
$gray-600: #6c6c6c;
$gray-700: #494949;
$gray-800: #343434;
$gray-900: #212121;

//$font-family-sans-serif:
@import "lib/bootstrap/scss/bootstrap";

.contact-link {
  color: $navbar-dark-color;
  text-decoration: if($link-decoration == none, null, none);
  @include transition($nav-link-transition);

  &:hover,
  &:focus {
    //color: $nav-link-hover-color;
    color: $navbar-dark-hover-color;
    text-decoration: if($link-hover-decoration == underline, none, null);
  }

  //&.disabled {
  //  color: $nav-link-disabled-color;
  //  color: $navbar-dark-disabled-color;
  //  pointer-events: none;
  //  cursor: default;
  //}
}

@keyframes ahlers-consulting-logo-stroke-fade-in {
  100% {
    opacity: 1;
  }
}

svg.ahlers-consulting-logo g g g:nth-child(4) {
  opacity: 0.05;
  animation: ahlers-consulting-logo-stroke-fade-in 300ms ease 500ms;
  animation-fill-mode: forwards;
}

svg.ahlers-consulting-logo g g g:nth-child(3) {
  opacity: 0.04;
  animation: ahlers-consulting-logo-stroke-fade-in 100ms ease 700ms;
  animation-fill-mode: forwards;
}

svg.ahlers-consulting-logo g g g:nth-child(2) {
  opacity: 0.03;
  animation: ahlers-consulting-logo-stroke-fade-in 300ms ease 1200ms;
  animation-fill-mode: forwards;
}

svg.ahlers-consulting-logo g g g:nth-child(1) {
  opacity: 0.02;
  animation: ahlers-consulting-logo-stroke-fade-in 100ms ease 1400ms;
  animation-fill-mode: forwards;
}

main.resume {
  height: 100%;
}

@keyframes experience-node-view-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

svg g.experience-node-view {
  opacity: 0;
  animation: experience-node-view-reveal 250ms ease var(--delay);
  animation-fill-mode: forwards;
}

svg g.experience-node-view.focused {
  opacity: 1;
  transition: opacity 250ms ease;
}

svg g.experience-node-view.not-focused {
  opacity: 0.25;
  transition: opacity 1000ms ease;
}

svg > g {
  pointer-events: none;
}

svg > g,
svg > g > g.experience-node-view.blank {
  pointer-events: none;
}

svg > g > g.experience-node-view {
  cursor: pointer;
  pointer-events: auto;
}

svg > g:hover > g.experience-node-view.revealed {
  opacity: 0.25;
  transition: opacity 1000ms ease;
}

svg > g:hover > g.experience-node-view.revealed.focused,
svg > g:hover > g.experience-node-view.revealed:hover {
  opacity: 1;
  transition: opacity 250ms ease;
}
